@import url(http://fonts.googleapis.com/css?family=Orbitron:700);
h1{
  text-align: center;
  font-family: "Orbitron", Arial, serif;
  color: red;
  font-size: 100%;
}
h2{
  text-align: center;
  font-family: "Orbitron", Arial, serif;
  color: black;
  font-size: 100%;
}
p{
  text-align: center;
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 100%
}
#submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#android_logo{
  display: block;
  width: 1300px;
  height: 175px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
#intro{
  text-align: center;
}
#android_level1{
  width: 20px;
  height: 25px;
  position:relative;
  top: 470px;
  left: 505px;
  z-index:1;
}
#android_level2{
  width: 20px;
  height: 25px;
  position:relative;
  top: 60px;
  left: 83px;
  z-index:1;
}
#android_level3{
  width: 20px;
  height: 25px;
  position:relative;
  top: 400px;
  left: 400px;
  z-index:1;
}
#android_level4{
  width: 20px;
  height: 25px;
  position:relative;
  top: 250px;
  left: 540px;
  z-index:1;
}
#android_level5{
  width: 20px;
  height: 25px;
  position:relative;
  top: 420px;
  left: 658px;
  z-index:1;
}
#lollipop{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 250px;
  left: 540px;
  z-index:1;
}

#flying_android{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 450px;
  left: 540px;
  z-index:1;
}

#android_superhero{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 300px;
  left: 300px;
  z-index:1;
}
#android_tornado{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 200px;
  left: 200px;
  z-index:1;
}
#android_videogame{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 10px;
  left: 10px;
  z-index:1;
}
#balloon_1{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 500px;
  left: 500px;
  z-index:1;
}
#balloon_2{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 75px;
  left: 75px;
  z-index:1;
}
#balloon_3{
  width: 50px;
  height: 75x;
  position:absolute;
  top: 540px;
  left: 540px;
  z-index:1;
}
#air_balloon{
  display: block;
<<<<<<< HEAD
  margin-left: auto;
  margin-right: auto;
=======
>>>>>>> c7e9030721ab8f5dc7efd3c20c2a3d1d06b71025
  width:750px;
  height:500px;
  background-repeat: no-repeat;
  z-index:0;
}
#android_dancing{
  width: 50px;
  height: 75px;
  position:absolute;
  top: 10px;
  left: 20px;
  z-index:1;
}
/*#tokyo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  height: 540px;
  background-repeat: no-repeat;
  z-index:0;

<<<<<<< HEAD
}*/

=======
>>>>>>> c7e9030721ab8f5dc7efd3c20c2a3d1d06b71025
.form{
  text-align: center;
  padding-bottom: 20px;
}
.textbox{
  /*text-align: center;*/
}
.headerContent{
  text-align: center;
}
.nav{
  height: 40px;
  width: 188px;
  background-color: #BDBDBD;
  text-align: center;
}
.nav ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav ul li{
  font-family: "Orbitron", Arial, serif;
  display: inline-block;
  list-style: none;
}
.nav ul li a{
  text-decoration: none;
  position: relative;
  float: left;
  display: inline-block;
  padding: 12px 12px;
}
.nav ul li a:hover{
  color: white;
}
.headerLine{
  width: 100%;
  height: 0;
  border-bottom: 3px solid #BDBDBD;
}

.about_us{
  text-align: center;
}
.next_level_button{
  font-size:100%;
  color:red;
  font-family: "Orbitron", Arial, serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:200px;
  height:60px;

}

.bglevel1{
  width: 736px;
  height: 616px;
  margin: 0 auto;
  background-image: url("/images/level1.jpg");
  background-repeat: no-repeat;
}
.bglevel2{
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  background-image: url("/images/level2.jpg");
  background-repeat: no-repeat;
}
.bglevel3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index:0;
  width: 960px;
  height: 540px;
  background-image: url("/images/rsz_level3.jpg");
  background-repeat: no-repeat;
}
.bglevel4{
  width: 1062px;
  height: 670px;
  margin: 0 auto;
  background-image: url("/images/rsz_level4.jpg");
  background-repeat: no-repeat;
}
.bglevel5{
  width: 960px;
  height: 768px;
  margin: 0 auto;
  background-image: url("/images/rsz_level5.jpg");
  background-repeat: no-repeat;
}
/*.congratulations_images{
  width:;
  height:;
  margin: 0 auto;
  background-image: url("/images/congratz.jpg");
  background-repeat: no-repeat;
}*/
.header{
  text-align: center;
}
.textbox{
  margin: 0 auto;
}
body.welcomebody{
  font-family: 'Orbitron', Arial, sans-serif;
  background-image: url("http://www.consalpi.it/images/white-abstract-background-with-green-lines.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
