#bg{
  /*margin: auto;*/
  position:absolute;
  z-index:0;
}
#android{
  width: 20px;
  height: 25px;
  position:relative;
  top: 431px;
  left: 500px;
  z-index:1;
}
p{
  text-align: center;
}
.bglevels{
  width: 50%;
  text-align: center;
  margin-top: 10%;
  margin-right: 10%;
  /*position: absolute;*/
  /*margin: auto;*/
}
.header{
  text-align: center;
}
