<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="scripts/javascript.js"></script>
  </head>

  <body>
    <div class="header">
      <a href ="/">
      <img src="images/new_android_logo.jpg">
    </a>

      <h1>Who Are We?</h1>

      <h1> We are the Glasses Squad! </h1>
      <br>

  <h2> ARELY </h2>
  <p>  Hello everyone! My name is Arely and I'm from Aguascalientes, Mexico. I have lived in Chicago for most of my life. Next fall, I'll be attending Franklin and Marshall College in Pennsylvania, studying computer science. This summer in CSSI, I Worked alongside many unique Googlers and my two partners, Erin and Nathan, to create this wonderful game. It have been a great experience here at Google, but it doesn't end there for me. </p>

  <h2> ERIN </h2>
  <p> </p>

  <h2> NATHAN </h2>

  </body>
</html>
