<!DOCTYPE html>
<html>
  <head>
    <title>Finding Android App</title>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="scripts/javascript.js"></script>
  </head>

  <body>
    <div class="header">
      <a href ="/">
      <img src="images/new_android_logo.jpg">
    </a>
      <h1>Congratulations!</h1>
    </div>

    <div class="bgcongratulations">
        <img id="hot_air_balloon" src="https://tracilee.files.wordpress.com/2011/10/dsc_0334_21.jpg">
    </div>

    <form action="/about_us">
    <button class = "about_us"> About the Creators</button>
    </form>


  </body>
</html>
