<!DOCTYPE html>
<html>
  <head>
    <title>Finding Android App</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/javascript.js"></script>
  </head>
  <body>
    <div class="headerContent">
      <a href="/"><img id="android_logo" src="images/new_android_logo.jpg"></a>
      <div class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about_us">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="headerLine"></div>
    <div class="header">
      <h1>Level 3: Misfit in Tokyo</h1>
    </div>

    <div class="bglevel3">
      <img id="android_level3" src="images/Android1.png">
    </div>


      <form action="/level_4">
      <button class = "next_level_button">Next Level</button>
      </form>

       </body>
     </html>
