<!DOCTYPE html>
<html>
  <head>
    <title>Finding Android App</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="scripts/javascript.js"></script>
  </head>
  <body>
    <div class="header">
      <a href ="/">
      <img src="images/new_android_logo.jpg">
    </a>
      <h1>Level 5: Top Brands of the World</h1>
    </div>

    <div class="bglevel5">
      <img id="android_level5" src="images/Android1.png">
    </div>

    <form action="/congratulations">
      <button class = "next_level_button">Congratulations!</button>
    </form>
       </body>
     </html>
