<!DOCTYPE html>
<html>
  <head>
    <title>Finding Android App</title>
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="scripts/javascript.js"></script>
  </head>

  <body>
    <div class="headerContent">
      <a href="/"><img id="android_logo" src="images/new_android_logo.jpg"></a>
      <div class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about_us">About Us</a></li>
        </ul>
      </div>
    </div>
    <div class="headerLine"></div>

    <div class="header">
      <h1>Level 1: Scattered Madness</h1>
    </div>

    <div id="bglevel1" class="bglevel1">
        <img id="android_level1" src="images/Android1.png">
    </div>

    <form action="/level_2">
      <button class = "next_level_button">Next Level</button>
    </form>


  </body>
</html>
