<!DOCTYPE html>
<html>
  <head>
    <title>Finding Android App</title>
    <link rel="stylesheet" type="text/css" href="templates/style.css">
  </head>

  <body>

    <img id="android_logo" src="images/new_android_logo.jpg">
    </br>
    <div id="intro">
      <p>Challenge: Your task is to find the Android icon among the midst of randomness.<br />

      Rules: Search for the hidden Android. Click the location you believe the Android is located. Levels vary in difficulty, more levels cleared = difficulty increases.
      <br />
      Objective: Find the android figure within the picture to advance to the next level.
      </p>
    </div>

    <div id="play">
      <form action="/level_1" method="get" id="form1">
        <button id="submit" type="submit" value="Submit">Play</button>
      </form>
    </div>
  </body>
</html>
