<!DOCTYPE html>
<html>
  <head>
    <title>Finding Android App</title>
    <link rel="stylesheet" type="text/css" href="templates/style.css">
  </head>

  <body>
    <img id="android_logo" src="images/new_android_logo.jpg">
    </br>


    <!-- <p>Challenge: Your task is to find the Android icon among the midst of randomness.v </p> -->

    <!-- <form action="/play" method="get" id="form1">
      <button type="submit" value="Submit">Play</button> -->




    <form action="/level_1" method="get" id="form1">
      <button type="submit" value="Submit">Play</button>

    Challenge: Your task is to find the Android icon among the midst of randomness.

    Rules: Search for the hidden Android. Click the location you believe the Android is located. Submit your responce. Levels vary in difficulty, more levels cleared = difficulty increases.

    <!-- <form action="/play" method="get" id="form1">
      <button type="submit" value="Submit">Play</button> -->

    <form action="/level_1" method="get" id="form1">
      <button id="submit" type="submit" value="Submit">Play</button>
    </form>

    <div class="button big-btn">This is a big button</div>
    <div class="button medium-btn">This is a medium button</div>
    <div class="button snall-btn">This is a small button</div>

  </body>
</html>
